# Introduction

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Series example
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

## Save and Read the Data

In [3]:
# DataFrame example
data = {
    "Name": ["Amit", "Priya", "Ravi"],
    "Age": [23, 21, 25],
    "Marks": [85, 90, 88]
}
df = pd.DataFrame(data)
print(df)

    Name  Age  Marks
0   Amit   23     85
1  Priya   21     90
2   Ravi   25     88

In [4]:
df.to_csv("output.csv")

In [6]:
df=pd.read_csv("output.csv")
df

   Unnamed: 0   Name  Age  Marks
0           0   Amit   23     85
1           1  Priya   21     90
2           2   Ravi   25     88

In [7]:
df.to_excel("output.xlsx",index=False)

In [10]:
df= pd.read_excel("output.xlsx")
df

   Unnamed: 0   Name  Age  Marks
0           0   Amit   23     85
1           1  Priya   21     90
2           2   Ravi   25     88

In [11]:
df.to_json("output.json")
df

   Unnamed: 0   Name  Age  Marks
0           0   Amit   23     85
1           1  Priya   21     90
2           2   Ravi   25     88