#### Indexing & Selection

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "Name": ["Amit", "Priya", "Ravi", "Neha"],
    "Age": [23, 21, 25, 22],
    "Marks": [85, 90, 88, 92]
})

In [3]:
df

    Name  Age  Marks
0   Amit   23     85
1  Priya   21     90
2   Ravi   25     88
3   Neha   22     92

In [4]:
# Label-based
print(df.loc[0])          # row by label index
print(df.loc[2])          # row by label index
print(df.loc[0, "Name"])  # single value

Name     Amit
Age        23
Marks      85
Name: 0, dtype: object
Name     Ravi
Age        25
Marks      88
Name: 2, dtype: object
Amit

In [6]:
# Position-based
print(df.iloc[1])         # row by position
print(df.iloc[2]) 
print(df.iloc[1, 2])      # specific cell

Name     Priya
Age         21
Marks       90
Name: 1, dtype: object
Name     Ravi
Age        25
Marks      88
Name: 2, dtype: object
90

In [5]:
# Boolean indexing
print(df[df["Marks"] > 88])

    Name  Age  Marks
1  Priya   21     90
3   Neha   22     92