# Handling Missing Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "Name": ["Amit", "Priya", "Ravi", "Neha"],
    "Age": [23, 21, 25, 22],
    "Marks": [85, 90, 88, 92]
})

In [3]:
data = {"A": [1, np.nan, 3], "B": [4, 5, np.nan]}
df2 = pd.DataFrame(data)
df2

     A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN

In [4]:
print(df2.isnull())   # check missing
print(df2.notnull())

       A      B
0  False  False
1   True  False
2  False   True
       A      B
0   True   True
1  False   True
2   True  False

In [5]:
print(df2.isnull())   # check missing
print(df2.notnull())

       A      B
0  False  False
1   True  False
2  False   True
       A      B
0   True   True
1  False   True
2   True  False