## Aggregations & Statistics

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "Name": ["Amit", "Priya", "Ravi", "Neha"],
    "Age": [23, 21, 25, 22],
    "Marks": [85, 90, 88, 92],
    "Score": [85, 90, 88, 92]
})

In [3]:
print(df["Score"].sum())

355

In [4]:
print(df["Score"].mean())

88.75

In [5]:
print(df["Score"].median())

89.0

In [6]:
print(df["Score"].value_counts())

Score
85    1
90    1
88    1
92    1
Name: count, dtype: int64

In [7]:
# GroupBy
data = {
    "Dept": ["IT", "HR", "IT", "Finance"],
    "Salary": [40000, 50000, 45000, 60000]
}
df3 = pd.DataFrame(data)
print(df3.groupby("Dept")["Salary"].mean())

Dept
Finance    60000.0
HR         50000.0
IT         42500.0
Name: Salary, dtype: float64

In [8]:
# GroupBy
data = {
    "Dept": ["IT", "HR", "TT", "Finance"],
    "Salary": [40000, 50000, 45000, 60000]
}
df3 = pd.DataFrame(data)
print(df3.groupby("Dept")["Salary"].mean())

Dept
Finance    60000.0
HR         50000.0
IT         40000.0
TT         45000.0
Name: Salary, dtype: float64

In [10]:
data ={
    "Name":["Arun", "Varun", "Karun", "Narun", "Marun"],
    "Age":[28,34,22,34,28],
    "Salary":[50000,60000,45000,48000,80000]
}
df= pd.DataFrame(data)
grouped = df.groupby("Age")["Salary"].sum()
print(grouped)

Age
22     45000
28    130000
34    108000
Name: Salary, dtype: int64

In [11]:
grouped = df.groupby(["Age","Name"])["Salary"].sum()
print(grouped)

Age  Name
22   Karun    45000
28   Arun     50000
     Marun    80000
34   Narun    48000
     Varun    60000
Name: Salary, dtype: int64