# ðŸ“˜ Pandas Complete Guide
Step-by-step programs and explanations for learning pandas.

In [ ]:
import pandas as pd
import numpy as np

## 1. Introduction

In [ ]:
# Series example
s = pd.Series([10, 20, 30, 40])
print(s)

# DataFrame example
data = {
    "Name": ["Amit", "Priya", "Ravi"],
    "Age": [23, 21, 25],
    "Marks": [85, 90, 88]
}
df = pd.DataFrame(data)
print(df)

## 2. Creating Objects

In [ ]:
# From list
s = pd.Series([1, 2, 3, 4])

# From dict
data = {"A": 10, "B": 20, "C": 30}
s_dict = pd.Series(data)

# From numpy array
arr = np.array([100, 200, 300])
s_arr = pd.Series(arr, index=['x', 'y', 'z'])

# From CSV (if file exists)
# df_csv = pd.read_csv("sample.csv")

## 3. Viewing & Inspecting Data

In [ ]:
df = pd.DataFrame({
    "Name": ["Amit", "Priya", "Ravi", "Neha"],
    "Age": [23, 21, 25, 22],
    "Marks": [85, 90, 88, 92]
})

print(df.head(2))
print(df.tail(2))
print(df.info())
print(df.describe())
print(df.shape)
print(df.columns)
print(df.dtypes)

## 4. Indexing & Selection

In [ ]:
print(df.loc[0])
print(df.loc[0, "Name"])
print(df.iloc[1])
print(df.iloc[1, 2])
print(df[df["Marks"] > 88])

## 5. Operations

In [ ]:
df["Grade"] = ["B", "A", "B", "A"]
df["Marks"] = df["Marks"] + 5
df = df.drop("Grade", axis=1)
df.rename(columns={"Marks": "Score"}, inplace=True)
df["Name"] = df["Name"].replace("Amit", "Aman")
print(df)

## 6. Handling Missing Data

In [ ]:
data = {"A": [1, np.nan, 3], "B": [4, 5, np.nan]}
df2 = pd.DataFrame(data)
print(df2.isnull())
print(df2.notnull())
print(df2.dropna())
print(df2.fillna(0))

## 7. Sorting & Ranking

In [ ]:
print(df.sort_values("Score", ascending=False))
print(df.sort_index())
print(df["Score"].rank())

## 8. Aggregations & Statistics

In [ ]:
print(df["Score"].sum())
print(df["Score"].mean())
print(df["Score"].median())
print(df["Score"].value_counts())

data = {
    "Dept": ["IT", "HR", "IT", "Finance"],
    "Salary": [40000, 50000, 45000, 60000]
}
df3 = pd.DataFrame(data)
print(df3.groupby("Dept")["Salary"].mean())

## 9. Merging, Joining, Concatenation

In [ ]:
df_a = pd.DataFrame({"ID": [1, 2], "Name": ["A", "B"]})
df_b = pd.DataFrame({"ID": [1, 2], "Marks": [85, 90]})

print(pd.merge(df_a, df_b, on="ID"))
print(pd.concat([df_a, df_b], axis=0))
print(pd.concat([df_a, df_b], axis=1))

df_c = pd.DataFrame({"Score": [10, 20]}, index=[1, 2])
print(df_a.join(df_c, on="ID"))

## 10. Reshaping

In [ ]:
df4 = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "Subject": ["Math", "Math", "Eng"],
    "Marks": [90, 80, 70]
})

print(df4.pivot_table(values="Marks", index="Subject", columns="Name"))
print(pd.melt(df4, id_vars=["Name"], value_vars=["Marks"]))

## 11. Time Series Basics

In [ ]:
dates = pd.date_range("2023-01-01", periods=5, freq="D")
ts = pd.Series(np.random.randn(5), index=dates)

print(ts)
print(ts.resample("2D").mean())
print(ts.shift(1))

## 12. Input / Output (I/O)

In [ ]:
df.to_csv("output.csv", index=False)
# df.to_excel("output.xlsx", index=False)
# df.to_json("output.json")

## 13. Useful Programs & Practice

In [ ]:
print(df[df["Score"] > 50])
print(df2.isnull().sum())
print(df.nlargest(2, "Score"))

df['Gender'] = ["M", "F", "M", "F"]
df['Gender_num'] = df['Gender'].map({"M": 1, "F": 0})

df_group = pd.DataFrame({
    "Dept": ["IT", "IT", "HR", "HR"],
    "Gender": ["M", "F", "M", "F"],
    "Salary": [40000, 42000, 50000, 52000]
})
print(df_group.groupby(["Dept", "Gender"])["Salary"].mean())

## 14. Bonus â€” Plotting

In [ ]:
import matplotlib.pyplot as plt

df["Score"].plot(kind="bar", title="Student Scores")
plt.show()