In [13]:
import pandas as pd
import numpy as np

# Creating the DataFrame form an Array

## 1.1 Option 1

In [14]:
# creating an Array
data = np.array([[1,4],[2,5],[3,6]])

In [15]:
pd.DataFrame(data)

   0  1
0  1  4
1  2  5
2  3  6

In [19]:
df = pd.DataFrame(data, index=['row1','row2','row3'], columns=['col1','col2'])

In [20]:
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6