In [1]:
import numpy as np

In [4]:
dff =np.array([1,2,3,4,5])

In [3]:
import pandas as pd

In [6]:
df = pd.Series(dff)

In [7]:
df

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
dfff = pd.Series([1,2,3,4,5,6])

In [10]:
dfff

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [16]:
pd.Series([[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6]])

0    [1, 2, 3, 4, 5, 6]
1    [1, 2, 3, 4, 5, 6]
2    [1, 2, 3, 4, 5, 6]
dtype: object

In [17]:
pd.DataFrame([[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6]])

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  1  2  3  4  5  6
2  1  2  3  4  5  6