In [1]:
import pandas as pd
import numpy as np

# Create a Array by using the Numpy

In [3]:
pd.array([1,2,3,4,5])

<IntegerArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: Int64

In [4]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [5]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

# 1. Creating DataFrame by using array(numpy library)
# without in index

In [3]:
data = np.array([[1,4,7],[2,5,8],[3,6,9]])

In [4]:
pd.DataFrame(data)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9