# Attributes

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("mycsvfile.csv")

In [3]:
df

       Name  age classs grade gender
0    shivam    3   12th     a      f
1     rohit    2    8th     b      m
2    chetan   12    6th     c      m
3   asshish   32    9th     b      m
4     mohit   12   10th     d      m
5   asshmit   12    4th     e      m
6     tahsu    1   12th     a      f
7     priya   23    5th     b      f
8    sweety    4    7th     d      f
9    cheery   35    9th     b      f
10   candy    65    4th     e      f
11    chiku    4    8th     c      m
12    mohit   67    4th     f      m

In [4]:
# 1 geeting the access to the shape attribute
df.shape

(13, 5)

In [6]:
# 2 getting access to the index Attribute
df.index

RangeIndex(start=0, stop=13, step=1)

In [7]:
# 3 getting access to the column attribute
df.columns

Index(['Name', 'age', 'classs', 'grade', 'gender'], dtype='object')

In [9]:
# 4 datatype of each column
df.dtypes

Name      object
age        int64
classs    object
grade     object
gender    object
dtype: object