In [1]:
import pandas as pd
df = pd.read_csv("students.csv")
df

   name  maths  hindi  english gender class
0     a     12     23       56      f  12th
1     b     43     54       88      f   2nd
2     c     54     67       98      f   5th
3     d     55     87       99      m   7th
4     e     34     56       87      m   9th
5     f     65     43       70      f  12th
6     g     66     98       76      m  10th
7     h     98     12       88      m   6th
8     i     65     45       56      m   8th
9     j     55     67       76      f   9th
10    k     45     98       78      m  11th
11    l     98     98       54      f   7th
12    m     67     65       34      m   8th

# 1 Value Count

In [2]:
# counting gender elements
# length of gender colunm
len(df['gender'])

13

In [4]:
(df['gender']).count()

np.int64(13)

In [7]:
# counting the gender by category
df['gender'].value_counts()

gender
m    7
f    6
Name: count, dtype: int64

In [8]:
# return realtive frequency (divide all values by the sum of valuse)
df['gender'].value_counts(normalize= True)

gender
m    0.538462
f    0.461538
Name: proportion, dtype: float64

In [9]:
# counting the "class" elm]ements by the categories
df['class'].value_counts()

class
12th    2
9th     2
7th     2
8th     2
5th     1
2nd     1
10th    1
6th     1
11th    1
Name: count, dtype: int64

In [10]:
df['class'].value_counts(normalize=True)

class
12th    0.153846
9th     0.153846
7th     0.153846
8th     0.153846
5th     0.076923
2nd     0.076923
10th    0.076923
6th     0.076923
11th    0.076923
Name: proportion, dtype: float64

In [11]:
df['class'].value_counts(normalize=True).round(2)

class
12th    0.15
9th     0.15
7th     0.15
8th     0.15
5th     0.08
2nd     0.08
10th    0.08
6th     0.08
11th    0.08
Name: proportion, dtype: float64

In [12]:
df["maths"].value_counts()

maths
65    2
55    2
98    2
12    1
43    1
54    1
34    1
66    1
45    1
67    1
Name: count, dtype: int64