In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("laptop_price.csv")

In [3]:
df

,Model,Company,Screen Size,RAM,Storage,Processor,Graphics,Price (USD),Battery Life
0,MacBook Air 13 (M4),Apple,13 inches,16GB,256GB SSD,M4,Integrated,999,18
1,MacBook Pro 14 (M4),Apple,14 inches,24GB,1TB SSD,M4 Pro,Integrated,1599,16
2,Dell 14 Plus (DB14250),Dell,14 inches,16GB,1TB SSD,Intel Core Ultra 7,Integrated,899,13
3,Dell XPS 13 (9350),Dell,13 inches,16GB,512GB SSD,Intel Core Ultra 7,Integrated,1199,15
4,HP EliteBook Ultra G1i,HP,14 inches,32GB,1TB SSD,Intel Core Ultra 7,Integrated,1499,19
5,HP Pavilion Plus 14 (2025),HP,14 inches,16GB,512GB SSD,Intel Core Ultra 5,Integrated,799,12
6,Lenovo ThinkPad X1 Carbon Gen 13,Lenovo,14 inches,32GB,1TB SSD,Intel Core Ultra 7,Integrated,1799,20
7,Lenovo Legion 5i,Lenovo,16 inches,16GB,1TB SSD,Intel Core i9,NVIDIA RTX 4060,1299,8
8,Asus Zenbook 14 OLED (UM3406),Asus,14 inches,16GB,1TB SSD,AMD Ryzen AI 9,Integrated,799,14
9,Asus ROG Zephyrus G14,Asus,14 inches,32GB,1TB SSD,AMD Ryzen 9,NVIDIA RTX 4070,1599,9
10,Surface Laptop 7th Edition 15,Microsoft,15 inches,16GB,512GB SSD,Snapdragon X Elite,Integrated,1299,20
11,Acer Swift Go 16 (2025),Acer,16 inches,16GB,1TB SSD,Intel Core Ultra 7,Integrated,999,12

## 1 filter Dataframe based on a Condition

In [4]:
# find apple laptops
df["Company"]=="Apple"

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
Name: Company, dtype: bool

In [5]:
# find laptops to cost more than 2000
df["Price (USD)"]>1100

0     False
1      True
2     False
3      True
4      True
5     False
6      True
7      True
8     False
9      True
10     True
11    False
Name: Price (USD), dtype: bool

# 2 Filter DataFrame Based on Multiple Conditions

In [6]:
# find apple laptops that cost more than 1000
(df["Company"]=="Apple") & (df["Price (USD)"]>1000)

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

# 2.1 & (And)

In [7]:
# filter datafframe based on multiple conditions
df[(df["Company"]=="Apple") & (df["Price (USD)"]>1000)]

,Model,Company,Screen Size,RAM,Storage,Processor,Graphics,Price (USD),Battery Life
1,MacBook Pro 14 (M4),Apple,14 inches,24GB,1TB SSD,M4 Pro,Integrated,1599,16

# 2.2 | (or)

In [8]:
# find laptops Apple or dell laptops
df["Company"]=="Apple"
df["Company"]=="Dell"

(df["Company"]=="Apple") | (df["Company"]=="Dell")

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
Name: Company, dtype: bool

In [9]:
# filter dataframe based on multiple condition
df[(df["Company"]=="Apple") | (df["Company"]=="Dell")]

,Model,Company,Screen Size,RAM,Storage,Processor,Graphics,Price (USD),Battery Life
0,MacBook Air 13 (M4),Apple,13 inches,16GB,256GB SSD,M4,Integrated,999,18
1,MacBook Pro 14 (M4),Apple,14 inches,24GB,1TB SSD,M4 Pro,Integrated,1599,16
2,Dell 14 Plus (DB14250),Dell,14 inches,16GB,1TB SSD,Intel Core Ultra 7,Integrated,899,13
3,Dell XPS 13 (9350),Dell,13 inches,16GB,512GB SSD,Intel Core Ultra 7,Integrated,1199,15

In [10]:
# value counts
df[(df["Company"]=="Apple") | (df["Company"]=="Dell")].value_counts("Company")

Company
Apple    2
Dell     2
Name: count, dtype: int64

In [11]:
# find laptops from Apple or dell that cost over 1000(USD)
df["Company"]=="Apple"
df["Company"]=="Dell"
df["Price (USD)"]>1000;

((df["Company"]=="Apple") | (df["Company"]=="Dell")) & ((df["Price (USD)"]>1000))

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [12]:
df[((df["Company"]=="Apple") | (df["Company"]=="Dell")) & ((df["Price (USD)"]>1000))]

,Model,Company,Screen Size,RAM,Storage,Processor,Graphics,Price (USD),Battery Life
1,MacBook Pro 14 (M4),Apple,14 inches,24GB,1TB SSD,M4 Pro,Integrated,1599,16
3,Dell XPS 13 (9350),Dell,13 inches,16GB,512GB SSD,Intel Core Ultra 7,Integrated,1199,15