In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("LaptopData.csv")

In [3]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

In [4]:
import numpy as np

In [5]:
# convert the string type into the int type
df["Price_USD"] = pd.to_numeric(df["Price_USD"], errors="coerce")

In [6]:
# Define conditions
conditions = [
    df["Price_USD"] > 3000,
    (df["Price_USD"] > 2000) & (df["Price_USD"] <= 3000),
    (df["Price_USD"] > 800) & (df["Price_USD"] <= 2000),
    df["Price_USD"] <= 800
]

# Define values
values = ["Too Expensive", "Expensive", "Affordable", "Cheap"]

# Apply np.select
df["Price_Category"] = np.select(conditions, values, default="Unknown")

In [7]:
# shows the dataframe
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD,Price_Category
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099.00,Affordable
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972.00,Affordable
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129.00,Affordable
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304.00,Affordable
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953.00,Affordable
...,...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992.00,Affordable
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312.00,Affordable
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048.00,Affordable
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03,Affordable
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39,Affordable

In [8]:
df["Price_USD"].value_counts()

Price_USD
907.00     4
1048.00    4
906.00     4
953.00     4
1072.00    4
          ..
728.58     1
1497.59    1
1164.70    1
1076.20    1
1305.56    1
Name: count, Length: 84, dtype: int64

In [9]:
df["Price_Category1"] = np.select(conditions, values, default="Unknown")

In [10]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD,Price_Category,Price_Category1
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099.00,Affordable,Affordable
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972.00,Affordable,Affordable
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129.00,Affordable,Affordable
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304.00,Affordable,Affordable
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953.00,Affordable,Affordable
...,...,...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992.00,Affordable,Affordable
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312.00,Affordable,Affordable
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048.00,Affordable,Affordable
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03,Affordable,Affordable
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39,Affordable,Affordable

In [11]:
df["Price_Category1"].value_counts()

Price_Category1
Affordable    138
Cheap          29
Unknown         1
Name: count, dtype: int64

## Exercise 
#### Create an array based on multiple sscreen size tier (+2 choices)
#### create "conditions" and "values" Variable

In [22]:
df["Screen_Size_inch"] = pd.to_numeric(df["Screen_Size_inch"], errors="coerce") 
conditions = [
    df["Screen_Size_inch"] <= 12,
    (df["Screen_Size_inch"] >12) & (df["Screen_Size_inch"]<=14),
    (df["Screen_Size_inch"] > 14) & (df["Screen_Size_inch"]<=16),
    df["Screen_Size_inch"]>16,
]
values = ["too small", "small", "big", "too big"]

df["Screen_size_conddition"] = np.select(conditions, values,  default="Unknown")

In [23]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD,Price_Category,Price_Category1,Screen_size_conddition
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099.00,Affordable,Affordable,too big
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972.00,Affordable,Affordable,small
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129.00,Affordable,Affordable,small
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304.00,Affordable,Affordable,too small
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953.00,Affordable,Affordable,big
...,...,...,...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992.00,Affordable,Affordable,too small
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312.00,Affordable,Affordable,too small
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048.00,Affordable,Affordable,small
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03,Affordable,Affordable,small
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39,Affordable,Affordable,too small

In [24]:
df.values_counts("Screen_size_conddition")

AttributeError: 'DataFrame' object has no attribute 'values_counts'