In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("LaptopData.csv")

In [3]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

# duplicated

In [4]:
df["Brand"].duplicated()

0      False
1      False
2      False
3      False
4       True
       ...
163     True
164     True
165     True
166     True
167     True
Name: Brand, Length: 168, dtype: bool

In [5]:
df.duplicated("Brand")

0      False
1      False
2      False
3      False
4       True
       ...
163     True
164     True
165     True
166     True
167     True
Length: 168, dtype: bool

In [6]:
df[df["Brand"].duplicated()]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
6,HP,Galaxy,AMD Ryzen 5,4,512,17.3,NVIDIA GTX 1650,1315
8,HP,Galaxy,AMD Ryzen 3,16,128,17.3,Integrated,906
11,Dell,Satellite,Apple M2,32,256,15.6,AMD Radeon,906
12,Dell,Satellite,Intel i5,32,512,14.0,NVIDIA GTX 1650,1048
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

In [7]:
df[df.duplicated("Brand")]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
6,HP,Galaxy,AMD Ryzen 5,4,512,17.3,NVIDIA GTX 1650,1315
8,HP,Galaxy,AMD Ryzen 3,16,128,17.3,Integrated,906
11,Dell,Satellite,Apple M2,32,256,15.6,AMD Radeon,906
12,Dell,Satellite,Intel i5,32,512,14.0,NVIDIA GTX 1650,1048
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

In [9]:
# duplicate 2 or more 
df.duplicated(["Brand","Model"])

0      False
1      False
2      False
3      False
4      False
       ...
163     True
164     True
165     True
166     True
167     True
Length: 168, dtype: bool

In [10]:
df[["Brand","Model"]].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
163     True
164     True
165     True
166     True
167     True
Length: 168, dtype: bool

In [11]:
df[df.duplicated(["Brand","Model"])]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
8,HP,Galaxy,AMD Ryzen 3,16,128,17.3,Integrated,906
12,Dell,Satellite,Intel i5,32,512,14.0,NVIDIA GTX 1650,1048
14,Apple,Galaxy,Intel i7,8,1024,13.3,NVIDIA MX350,655
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
23,Apple,Aspire,AMD Ryzen 7,4,256,14.0,NVIDIA GTX 1650,715
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

In [12]:
df[df[["Brand","Model"]].duplicated()]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
8,HP,Galaxy,AMD Ryzen 3,16,128,17.3,Integrated,906
12,Dell,Satellite,Intel i5,32,512,14.0,NVIDIA GTX 1650,1048
14,Apple,Galaxy,Intel i7,8,1024,13.3,NVIDIA MX350,655
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
23,Apple,Aspire,AMD Ryzen 7,4,256,14.0,NVIDIA GTX 1650,715
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

In [13]:
duplicate = df.duplicated(["Brand","Model"])

In [14]:
df[duplicate].sort_values(["Brand","Model"])

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
65,Acer,Pavilion,AMD Ryzen 5,4,512,15.6,Integrated,1271
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
125,Acer,Pavilion,Apple M2,4,1024,15.6,AMD Radeon,1164
156,Acer,Pavilion,AMD Ryzen 5,4,512,15.6,Integrated,1271
...,...,...,...,...,...,...,...,...
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
110,Toshiba,Surface,AMD Ryzen 3,4,128,17.3,AMD Radeon,717
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
89,Toshiba,ZenBook,AMD Ryzen 5,16,512,14.0,Integrated,1305.56
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856