In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("LaptopData.csv")

In [3]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

# unique()
##### Return unique values of series Object. (Uniques are returned in order of appearance)

In [4]:
# get unique elements in the "brand" column
df["Brand"].unique()

array(['HP', 'Dell', 'Asus', 'Apple', 'Lenovo', 'Toshiba', 'LG',
       'Microsoft', 'Samsung', 'Acer', 'Brand'], dtype=object)

In [5]:
df["Screen_Size_inch"].unique()

array(['17.3', '13.3', '11.6', '15.6', '14.0', 'Screen_Size_inch'],
      dtype=object)

In [6]:
# get length of unique element
len(df["Screen_Size_inch"].unique())

6

# nunique()
##### return number of unique elements in the object (Excludes NA values b y default)

In [8]:
# get number of elements in the "brand" column
df["Brand"].nunique()

11

In [9]:
# get number of unique elelments inn the "inches" column
df["Screen_Size_inch"].nunique()

6