In [1]:
import pandas as pd

In [2]:
# read csv
df = pd.read_csv("InternationalCricketor.csv")
# set index 
df.set_index("Player Name", inplace=True)
# select column
df.head(10)

,Country,Matches,Innings,Runs,Average,Strike Rate,Wickets,Bowling Average,Economy
Player Name,,,,,,,,,
Virat Kohli,India,302,289,13906,58.07,93.58,4,72.25,5.23
Rohit Sharma,India,262,256,10709,48.96,91.72,8,56.38,5.78
Babar Azam,Pakistan,120,120,5084,56.81,89.12,1,120.00,6.00
Steve Smith,Australia,195,182,9449,46.82,82.34,0,0.00,0.00
Joe Root,England,171,167,7479,47.62,89.36,1,69.00,5.69
Kane Williamson,New Zealand,167,162,6894,47.15,80.65,1,30.00,4.50
AB de Villiers,South Africa,228,218,10014,53.50,101.09,3,46.67,5.33
David Warner,Australia,169,168,7074,45.28,95.45,0,0.00,0.00
Quinton de Kock,South Africa,155,152,6446,40.31,95.45,0,0.00,0.00
Ross Taylor,New Zealand,233,215,8184,45.69,83.25,3,52.00,5.20

In [3]:
df = df[["Matches",	"Innings",	"Runs",	"Average",	"Strike Rate",	"Wickets"]]

In [4]:
# show dataframe
df

                    Matches  Innings   Runs  Average  Strike Rate  Wickets
Player Name
Virat Kohli             302      289  13906    58.07        93.58        4
Rohit Sharma            262      256  10709    48.96        91.72        8
Babar Azam              120      120   5084    56.81        89.12        1
Steve Smith             195      182   9449    46.82        82.34        0
Joe Root                171      167   7479    47.62        89.36        1
...                     ...      ...    ...      ...          ...      ...
Mashrafe Mortaza        220      144   1787    13.75        87.45      270
Mehidy Hasan Miraz       78       49    803    21.67        78.90       78
Liton Das                70       69   2231    34.32        85.67        0
Imrul Kayes              78       78   2434    31.20        71.23        0
Soumya Sarkar            64       60   1768    30.48        95.45        0

[197 rows x 6 columns]

##  Selecting with a single value
##### iloc[row_positiom, column_position]

In [5]:
# get the runs of india
df.iloc[0,2]

np.int64(13906)

In [6]:
df.iloc[1,0:4]

Matches      262.00
Innings      256.00
Runs       10709.00
Average       48.96
Name: Rohit Sharma, dtype: float64

In [7]:
df.iloc[0,0:4]

Matches      302.00
Innings      289.00
Runs       13906.00
Average       58.07
Name: Virat Kohli, dtype: float64

In [8]:
# get all rows inside the "Strike Rate" column
df.iloc[:,4]

Player Name
Virat Kohli           93.58
Rohit Sharma          91.72
Babar Azam            89.12
Steve Smith           82.34
Joe Root              89.36
                      ...
Mashrafe Mortaza      87.45
Mehidy Hasan Miraz    78.90
Liton Das             85.67
Imrul Kayes           71.23
Soumya Sarkar         95.45
Name: Strike Rate, Length: 197, dtype: float64

In [9]:
# get all rows inside the "Wickets" column
df.iloc[:,5]

Player Name
Virat Kohli             4
Rohit Sharma            8
Babar Azam              1
Steve Smith             0
Joe Root                1
                     ...
Mashrafe Mortaza      270
Mehidy Hasan Miraz     78
Liton Das               0
Imrul Kayes             0
Soumya Sarkar           0
Name: Wickets, Length: 197, dtype: int64

In [10]:
# get all columns that correspond to the index "Rohit sharma"
df.iloc[1,:]

Matches          262.00
Innings          256.00
Runs           10709.00
Average           48.96
Strike Rate       91.72
Wickets            8.00
Name: Rohit Sharma, dtype: float64

In [11]:
df.iloc[1:5, :]

              Matches  Innings   Runs  Average  Strike Rate  Wickets
Player Name
Rohit Sharma      262      256  10709    48.96        91.72        8
Babar Azam        120      120   5084    56.81        89.12        1
Steve Smith       195      182   9449    46.82        82.34        0
Joe Root          171      167   7479    47.62        89.36        1

# Selecting with a list of values

In [12]:
# get all data about virat kohili and  rohit sharma

df.iloc[[0,1]]

              Matches  Innings   Runs  Average  Strike Rate  Wickets
Player Name
Virat Kohli       302      289  13906    58.07        93.58        4
Rohit Sharma      262      256  10709    48.96        91.72        8

In [14]:
# get the runs of virat kohli and rohit sharma
df.iloc[[0,1],2]

Player Name
Virat Kohli     13906
Rohit Sharma    10709
Name: Runs, dtype: int64

In [16]:
# get the runs and wickets of  rohit sharma
# 1 is the index of the rohit shrama
df.iloc[1,[2,5]]

Runs       10709.0
Wickets        8.0
Name: Rohit Sharma, dtype: float64

In [17]:
# get the runs and wickets of virat kohli and rohit sharma
df.iloc[[0,1],[2,5]]

               Runs  Wickets
Player Name
Virat Kohli   13906        4
Rohit Sharma  10709        8

#