In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv("CricketPlayers.csv")
# set index
df.set_index("Name", inplace=True)
# select column
df= df[["Age", 'Height (m)', "Weight (kg)", "Runs", "Country", "Club"]]
# show dataframe
df

,Age,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,
Hardik Root,32,1.72,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,2.02,81,11388,England,Chennai Super Kings
Rishabh Boult,25,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,1.72,92,1974,Bangladesh,Punjab Kings
...,...,...,...,...,...,...
Rishabh Root,25,1.71,65,6922,Sri Lanka,Sunrisers Hyderabad
Pat Boult,32,1.65,71,5221,Bangladesh,Kolkata Knight Riders
Pat Kohli,18,1.69,68,5803,Sri Lanka,Royal Challengers Bangalore
David Root,28,1.74,92,9126,South Africa,Royal Challengers Bangalore
Aaron Williamson,39,1.76,84,7755,New Zealand,Chennai Super Kings

In [4]:
# use numpy function and apply it to series
import numpy as np
df['Age'].apply(np.sqrt)

Name
Hardik Root         5.656854
David Roy           5.567764
Rishabh Boult       5.000000
Ben Smith           5.000000
Rohit Stokes        4.690416
                      ...
Rishabh Root        5.000000
Pat Boult           5.656854
Pat Kohli           4.242641
David Root          5.291503
Aaron Williamson    6.244998
Name: Age, Length: 400, dtype: float64

In [7]:
# create your own funtcion and apply it to a dataframe
  # BMI = kg/m2
def calculate_BMI(row):
    return row['Weight (kg)']/( row["Height (m)"])**2

In [8]:
df.apply(calculate_BMI, axis=1)

Name
Hardik Root         21.295295
David Roy           19.850995
Rishabh Boult       21.633315
Ben Smith           22.932825
Rohit Stokes        31.097891
                      ...
Rishabh Root        22.229062
Pat Boult           26.078972
Pat Kohli           23.808690
David Root          30.387105
Aaron Williamson    27.117769
Length: 400, dtype: float64