In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv("CricketPlayers.csv")
# set index
df.set_index("Name", inplace=True)
# select column
df= df[["Age", 'Height (m)', "Weight (kg)", "Runs", "Country", "Club"]]
# show dataframe
df

,Age,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,
Hardik Root,32,1.72,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,2.02,81,11388,England,Chennai Super Kings
Rishabh Boult,25,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,1.72,92,1974,Bangladesh,Punjab Kings
...,...,...,...,...,...,...
Rishabh Root,25,1.71,65,6922,Sri Lanka,Sunrisers Hyderabad
Pat Boult,32,1.65,71,5221,Bangladesh,Kolkata Knight Riders
Pat Kohli,18,1.69,68,5803,Sri Lanka,Royal Challengers Bangalore
David Root,28,1.74,92,9126,South Africa,Royal Challengers Bangalore
Aaron Williamson,39,1.76,84,7755,New Zealand,Chennai Super Kings

# 1 lambda Function

In [5]:
# basic function
def sum_value(a,b):
    x= a+b
    return x

In [6]:
sum_value(3,5)

8

In [7]:
# lambda function (one liner)
sum_value_lambda = lambda a,b: a+b

In [8]:
sum_value_lambda

In [9]:
sum_value_lambda(4.5,7.3)

11.8

# 2 apply + Lambda Function

In [10]:
# use lambda function to convert "Height (m)" series to cm
df["Height (m)"].apply(lambda x:x*100)

Name
Hardik Root         172.0
David Roy           202.0
Rishabh Boult       172.0
Ben Smith           197.0
Rohit Stokes        172.0
                    ...
Rishabh Root        171.0
Pat Boult           165.0
Pat Kohli           169.0
David Root          174.0
Aaron Williamson    176.0
Name: Height (m), Length: 400, dtype: float64

In [11]:
# alternative 
df["Height (m)"]*100

Name
Hardik Root         172.0
David Roy           202.0
Rishabh Boult       172.0
Ben Smith           197.0
Rohit Stokes        172.0
                    ...
Rishabh Root        171.0
Pat Boult           165.0
Pat Kohli           169.0
David Root          174.0
Aaron Williamson    176.0
Name: Height (m), Length: 400, dtype: float64

In [14]:
# use lambda function to convert lower case to upper case
df["Country"].apply(lambda x:x.upper())

Name
Hardik Root            SRI LANKA
David Roy                ENGLAND
Rishabh Boult        AFGHANISTAN
Ben Smith            AFGHANISTAN
Rohit Stokes          BANGLADESH
                        ...
Rishabh Root           SRI LANKA
Pat Boult             BANGLADESH
Pat Kohli              SRI LANKA
David Root          SOUTH AFRICA
Aaron Williamson     NEW ZEALAND
Name: Country, Length: 400, dtype: object

In [16]:
# alternative
# df["Country"].upper   shows error
df["Country"].str.upper()

Name
Hardik Root            SRI LANKA
David Roy                ENGLAND
Rishabh Boult        AFGHANISTAN
Ben Smith            AFGHANISTAN
Rohit Stokes          BANGLADESH
                        ...
Rishabh Root           SRI LANKA
Pat Boult             BANGLADESH
Pat Kohli              SRI LANKA
David Root          SOUTH AFRICA
Aaron Williamson     NEW ZEALAND
Name: Country, Length: 400, dtype: object

In [19]:
df.dtypes

Age              int64
Height (m)     float64
Weight (kg)      int64
Runs             int64
Country         object
Club            object
dtype: object

In [ ]:
# use lambda  function to get the year or "dob" series

# alternative with dt attribute

In [20]:
df

,Age,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,
Hardik Root,32,1.72,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,2.02,81,11388,England,Chennai Super Kings
Rishabh Boult,25,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,1.72,92,1974,Bangladesh,Punjab Kings
...,...,...,...,...,...,...
Rishabh Root,25,1.71,65,6922,Sri Lanka,Sunrisers Hyderabad
Pat Boult,32,1.65,71,5221,Bangladesh,Kolkata Knight Riders
Pat Kohli,18,1.69,68,5803,Sri Lanka,Royal Challengers Bangalore
David Root,28,1.74,92,9126,South Africa,Royal Challengers Bangalore
Aaron Williamson,39,1.76,84,7755,New Zealand,Chennai Super Kings

In [26]:
df = pd.read_csv("CricketPlayers.csv")

In [27]:
df.dtypes

Name            object
Age              int64
Height (m)     float64
Weight (kg)      int64
Runs             int64
Country         object
Club            object
DOB             object
dtype: object

### Data NEw dataframe of dOb

In [38]:
# Convert the 'DOB' column to datetime format
df["DOB"] = df["DOB"].astype("datetime64[ns]")

# # use lambda function to get the year or "dob" series
df["DOB"].apply(lambda x:x.year)

0      1993
1      1994
2      2000
3      2000
4      2003
       ...
395    2000
396    1993
397    2007
398    1997
399    1986
Name: DOB, Length: 400, dtype: int64

In [39]:
# OR safer way (recommended)
df["DOB"] = pd.to_datetime(df["DOB"], errors='coerce')

# shows series by lambda function
df["DOB"].apply(lambda x: x.year)

0      1993
1      1994
2      2000
3      2000
4      2003
       ...
395    2000
396    1993
397    2007
398    1997
399    1986
Name: DOB, Length: 400, dtype: int64

In [40]:
# Now extract the year using lambda
df["Year"] = df["DOB"].apply(lambda x: x.year)

In [41]:
df["Year"]

0      1993
1      1994
2      2000
3      2000
4      2003
       ...
395    2000
396    1993
397    2007
398    1997
399    1986
Name: Year, Length: 400, dtype: int64