In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv("CricketPlayers.csv")
# set index 
df.set_index("Name", inplace=True)
# select column
df = df[["Age", "DOB", 'Height (m)', "Weight (kg)", "Runs", "Country", "Club"]]
# show the dataframe
df.head(20)

,Age,DOB,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,,
Hardik Root,32,1993-10-13,1.72,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,1994-05-11,2.02,81,11388,England,Chennai Super Kings
Rishabh Boult,25,2000-12-09,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,2000-12-22,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,2003-11-23,1.72,92,1974,Bangladesh,Punjab Kings
Kane Pandya,24,2001-05-17,1.99,93,10483,South Africa,Mumbai Indians
Kane Cummins,33,1992-09-07,1.97,79,5358,West Indies,Mumbai Indians
Ben Williamson,21,2004-04-03,1.81,62,1623,India,Rajasthan Royals
Trent Pandya,39,1986-03-08,1.73,89,4271,New Zealand,Punjab Kings
Jos duPlessis,20,2005-06-18,1.98,81,3977,Bangladesh,Kolkata Knight Riders
Jos Marsh,35,1990-06-24,1.73,67,6858,Sri Lanka,Sunrisers Hyderabad
Pat Roy,28,1997-12-09,1.74,95,7893,India,Delhi Capitals
Rishabh Azam,36,1989-02-25,1.69,88,7851,Bangladesh,Mumbai Indians
Quinton Finch,19,2006-01-15,1.70,63,3905,New Zealand,Mumbai Indians
Quinton Stokes,24,2001-04-01,1.89,91,2873,Australia,Chennai Super Kings
David Stokes,20,2005-01-05,1.81,60,10507,West Indies,Sunrisers Hyderabad
Virat Azam,20,2005-10-17,1.87,61,3105,Pakistan,Punjab Kings
Jos Roy,26,1999-05-27,2.01,80,10201,Pakistan,Chennai Super Kings
Aaron Marsh,36,1989-03-15,1.98,95,6859,Bangladesh,Rajasthan Royals
KL Pant,19,2006-06-22,1.66,68,1742,New Zealand,Kolkata Knight Riders

# 1 copy()

## 1.1 deep = True

In [3]:
# deep=Trur by default (modification to the data or indices of the copy)
df_copy = df.copy()

In [7]:
# update value in original  dataframe
df.loc["David Roy","Height (m)"]

Name
David Roy    2.02
David Roy    1.77
David Roy    1.76
Name: Height (m), dtype: float64

In [8]:
# update value in original  dataframe
df.loc["David Roy","Height (m)"] = 22

In [9]:
# copy vs original dataframe
df

,Age,DOB,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,,
Hardik Root,32,1993-10-13,1.72,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,1994-05-11,22.00,81,11388,England,Chennai Super Kings
Rishabh Boult,25,2000-12-09,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,2000-12-22,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,2003-11-23,1.72,92,1974,Bangladesh,Punjab Kings
...,...,...,...,...,...,...,...
Rishabh Root,25,2000-05-01,1.71,65,6922,Sri Lanka,Sunrisers Hyderabad
Pat Boult,32,1993-05-08,1.65,71,5221,Bangladesh,Kolkata Knight Riders
Pat Kohli,18,2007-08-16,1.69,68,5803,Sri Lanka,Royal Challengers Bangalore
David Root,28,1997-01-08,1.74,92,9126,South Africa,Royal Challengers Bangalore
Aaron Williamson,39,1986-02-28,1.76,84,7755,New Zealand,Chennai Super Kings

## 1.2 deep = True

In [10]:
# deep=false (any changes  to the data of the original will be reflected in the shallow copy and vice versa)
df_copy = df.copy(deep=False)

In [12]:
# original the value in original dataframe
df.loc["David Roy", "Weight (kg)"]

Name
David Roy    81
David Roy    77
David Roy    94
Name: Weight (kg), dtype: int64

In [13]:
# update the original values
df.loc["David Roy", "Weight (kg)"]=100

In [14]:
# shallow vs original copy
df

,Age,DOB,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,,
Hardik Root,32,1993-10-13,1.72,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,1994-05-11,22.00,100,11388,England,Chennai Super Kings
Rishabh Boult,25,2000-12-09,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,2000-12-22,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,2003-11-23,1.72,92,1974,Bangladesh,Punjab Kings
...,...,...,...,...,...,...,...
Rishabh Root,25,2000-05-01,1.71,65,6922,Sri Lanka,Sunrisers Hyderabad
Pat Boult,32,1993-05-08,1.65,71,5221,Bangladesh,Kolkata Knight Riders
Pat Kohli,18,2007-08-16,1.69,68,5803,Sri Lanka,Royal Challengers Bangalore
David Root,28,1997-01-08,1.74,92,9126,South Africa,Royal Challengers Bangalore
Aaron Williamson,39,1986-02-28,1.76,84,7755,New Zealand,Chennai Super Kings

In [15]:
# shallow copy
df_copy

,Age,DOB,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,,
Hardik Root,32,1993-10-13,1.72,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,1994-05-11,22.00,100,11388,England,Chennai Super Kings
Rishabh Boult,25,2000-12-09,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,2000-12-22,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,2003-11-23,1.72,92,1974,Bangladesh,Punjab Kings
...,...,...,...,...,...,...,...
Rishabh Root,25,2000-05-01,1.71,65,6922,Sri Lanka,Sunrisers Hyderabad
Pat Boult,32,1993-05-08,1.65,71,5221,Bangladesh,Kolkata Knight Riders
Pat Kohli,18,2007-08-16,1.69,68,5803,Sri Lanka,Royal Challengers Bangalore
David Root,28,1997-01-08,1.74,92,9126,South Africa,Royal Challengers Bangalore
Aaron Williamson,39,1986-02-28,1.76,84,7755,New Zealand,Chennai Super Kings

## 1.3 Simple Assignment

In [16]:
# mmake a copy
df_newcopy=df

In [17]:
# print orginal value 
df.loc["Hardik Root", "Height (m)"]

Name
Hardik Root    1.72
Hardik Root    2.00
Hardik Root    1.69
Name: Height (m), dtype: float64

In [18]:
# update the value
df.loc["Hardik Root", "Height (m)"]=4.10

In [19]:
# copy vs orginal dataframe
df

,Age,DOB,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,,
Hardik Root,32,1993-10-13,4.10,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,1994-05-11,22.00,100,11388,England,Chennai Super Kings
Rishabh Boult,25,2000-12-09,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,2000-12-22,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,2003-11-23,1.72,92,1974,Bangladesh,Punjab Kings
...,...,...,...,...,...,...,...
Rishabh Root,25,2000-05-01,1.71,65,6922,Sri Lanka,Sunrisers Hyderabad
Pat Boult,32,1993-05-08,1.65,71,5221,Bangladesh,Kolkata Knight Riders
Pat Kohli,18,2007-08-16,1.69,68,5803,Sri Lanka,Royal Challengers Bangalore
David Root,28,1997-01-08,1.74,92,9126,South Africa,Royal Challengers Bangalore
Aaron Williamson,39,1986-02-28,1.76,84,7755,New Zealand,Chennai Super Kings

In [20]:
df_newcopy

,Age,DOB,Height (m),Weight (kg),Runs,Country,Club
Name,,,,,,,
Hardik Root,32,1993-10-13,4.10,63,6045,Sri Lanka,Rajasthan Royals
David Roy,31,1994-05-11,22.00,100,11388,England,Chennai Super Kings
Rishabh Boult,25,2000-12-09,1.72,64,10906,Afghanistan,Chennai Super Kings
Ben Smith,25,2000-12-22,1.97,89,4458,Afghanistan,Kolkata Knight Riders
Rohit Stokes,22,2003-11-23,1.72,92,1974,Bangladesh,Punjab Kings
...,...,...,...,...,...,...,...
Rishabh Root,25,2000-05-01,1.71,65,6922,Sri Lanka,Sunrisers Hyderabad
Pat Boult,32,1993-05-08,1.65,71,5221,Bangladesh,Kolkata Knight Riders
Pat Kohli,18,2007-08-16,1.69,68,5803,Sri Lanka,Royal Challengers Bangalore
David Root,28,1997-01-08,1.74,92,9126,South Africa,Royal Challengers Bangalore
Aaron Williamson,39,1986-02-28,1.76,84,7755,New Zealand,Chennai Super Kings