# Sorting and Ranking

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "Name": ["Amit", "Priya", "Ravi", "Neha"],
    "Age": [23, 21, 25, 22],
    "Marks": [85, 90, 88, 92],
    "Score": [85, 90, 88, 92]
})
df

    Name  Age  Marks  Score
0   Amit   23     85     85
1  Priya   21     90     90
2   Ravi   25     88     88
3   Neha   22     92     92

In [3]:
print(df.sort_values("Score", ascending=False))

    Name  Age  Marks  Score
3   Neha   22     92     92
1  Priya   21     90     90
2   Ravi   25     88     88
0   Amit   23     85     85

In [4]:
print(df.sort_index())

    Name  Age  Marks  Score
0   Amit   23     85     85
1  Priya   21     90     90
2   Ravi   25     88     88
3   Neha   22     92     92

In [5]:
print(df["Score"].rank())

0    1.0
1    3.0
2    2.0
3    4.0
Name: Score, dtype: float64

In [6]:
print(df.sort_values(["Age", "Marks"], ascending=False, inplace=True))

None

In [7]:
print(df.sort_values(["Age", "Marks"], ascending=[False,True], inplace=True))

None