# Interpolaton

In [1]:
import pandas as pd

In [2]:
data ={
    "Time":[1,2,3,4,5],
    "Value":[10, None, 30, None, 50]
}

### Linear Interpolation

In [5]:
"berfore interpolation"
df = pd.DataFrame(data)
df

   Time  Value
0     1   10.0
1     2    NaN
2     3   30.0
3     4    NaN
4     5   50.0

In [9]:
df["Value"] = df["Value"].interpolate(method="linear")
print("after Interpolation")
print(df)

after Interpolation
   Time  Value
0     1   10.0
1     2   20.0
2     3   30.0
3     4   40.0
4     5   50.0

In [11]:
import pandas as pd
import numpy as np

data = [10, np.nan, 30, np.nan, 50]
s = pd.Series(data)
print("Original:\n", s)

print("\nLinear Interpolation:\n", s.interpolate(method='linear'))

Original:
 0    10.0
1     NaN
2    30.0
3     NaN
4    50.0
dtype: float64

Linear Interpolation:
 0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

##  Time Interpolation

In [13]:
dates = pd.date_range('2025-01-01', periods=6)
data = [1, np.nan, np.nan, 4, np.nan, 6]
s = pd.Series(data, index=dates)

print("\nTime Interpolation:\n", s.interpolate(method='time'))

Time Interpolation:
 2025-01-01    1.0
2025-01-02    2.0
2025-01-03    3.0
2025-01-04    4.0
2025-01-05    5.0
2025-01-06    6.0
Freq: D, dtype: float64

In [15]:
x = [0, 1, 2]
y = [1, 3, 2]

s = pd.Series(y, index=x, dtype=float)
s

0    1.0
1    3.0
2    2.0
dtype: float64

In [16]:
s.loc[1.5] = np.nan
s = s.sort_index()
s

0.0    1.0
1.0    3.0
1.5    NaN
2.0    2.0
dtype: float64

In [19]:
print("\nWith NaN at x=1.5:\n", s)

result = s.interpolate(method='polynomial', order=2)

print("\nAfter Polynomial Interpolation:\n", result)
print("\nInterpolated value at x=1.5 is:", result.loc[1.5])

With NaN at x=1.5:
 0.0    1.0
1.0    3.0
1.5    NaN
2.0    2.0
dtype: float64

After Polynomial Interpolation:
 0.0    1.000
1.0    3.000
1.5    2.875
2.0    2.000
dtype: float64

Interpolated value at x=1.5 is: 2.875

In [21]:
import pandas as pd
import numpy as np

# Sample data with missing values
data = pd.Series([0, 2, np.nan, 8, np.nan, 18], index=[0, 1, 2, 3, 4, 5])

print("Original Data:\n", data)

# Apply polynomial interpolation of degree 2
interpolated = data.interpolate(method='polynomial', order=2)

print("\nAfter Polynomial Interpolation:\n", interpolated)

Original Data:
 0     0.0
1     2.0
2     NaN
3     8.0
4     NaN
5    18.0
dtype: float64

After Polynomial Interpolation:
 0     0.000000
1     2.000000
2     4.588235
3     8.000000
4    12.470588
5    18.000000
dtype: float64