In [1]:
import pandas as pd

#  4. Create the DataFrame by using the Dictionary

In [2]:
# using the list in this example
state =["uttar pradesh", "west Bnegal", "delhi", "haryana"]
population = [19348,57748,85744,85789]

In [3]:
#stroing the list in the dictionary
dict_data ={"state":state,"Populations":population}

In [4]:
df_population = pd.DataFrame(dict_data)

In [5]:
df_population

           state  Populations
0  uttar pradesh        19348
1    west Bnegal        57748
2          delhi        85744
3        haryana        85789