In [2]:
import pandas as pd
df= pd.read_csv("mycsvfile.csv")
df

       Name  age classs grade gender
0    shivam    3   12th     a      f
1     rohit    2    8th     b      m
2    chetan   12    6th     c      m
3   asshish   32    9th     b      m
4     mohit   12   10th     d      m
5   asshmit   12    4th     e      m
6     tahsu    1   12th     a      f
7     priya   23    5th     b      f
8    sweety    4    7th     d      f
9    cheery   35    9th     b      f
10   candy    65    4th     e      f
11    chiku    4    8th     c      m
12    mohit   67    4th     f      m

# 1 Math Operation

## 1.1 operations In Colunms

In [3]:
# select the colunm and sum
df['age'].sum()

np.int64(272)

In [4]:
# count 
df['age'].count()

np.int64(13)

In [5]:
# mean
df['age'].mean()

np.float64(20.923076923076923)

In [6]:
# std
df['age'].std()

22.87451834998039

In [7]:
df['age'].max()

67

In [8]:
df['age'].min()

1

In [9]:
# easier Calculation with .describe()
df.describe()

             age
count  13.000000
mean   20.923077
std    22.874518
min     1.000000
25%     4.000000
50%    12.000000
75%    32.000000
max    67.000000

# 1.2 Operation on ROWs