In [2]:
import pandas as pd
import numpy as np

# Creating the DataFrame form an Array

## 1.1 Option 1

In [3]:
# creating an Array
data = np.array([[1,4],[2,5],[3,6]])

In [4]:
pd.DataFrame(data)

   0  1
0  1  4
1  2  5
2  3  6