In [1]:
import pandas as pd
import numpy as np

# 2. Creating the DataFrame with Indexed

In [2]:
data = np.array([[1,4,7],[2,5,8],[3,6,9]])

In [3]:
df = pd.DataFrame(data, index=['row1','row2','row3'], columns=['col1','col2','col3'])

In [4]:
df

      col1  col2  col3
row1     1     4     7
row2     2     5     8
row3     3     6     9