In [1]:
import pandas as pd

# 3. Creating the DataFrame without using numpy

## simple way

In [2]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [3]:
df = pd.DataFrame(data, index=['row1','row2','row3'], columns=['col1','col2','col3'])

In [4]:
df

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9